In [ ]:
import pandas as pd
from pathlib import Path

# Set the path to data directory
data_dir= Path("../data/raw")

# Create a file map for better readability
files = {
    "alcohol": "ALQ_L.xpt",
    "bmi": "BMX_L.xpt",
    "blood_pressure": "BPQ_L.xpt",
    "demographics": "DEMO_L.xpt",
    "diabetes": "DIQ_L.xpt",
    "glycohemoglobin": "GHB_L.xpt",
    "plasma_fasting_glucose": "GLU_L.xpt",
    "high_density_lipoprotein": "HDL_L.xpt",
    "physical_activity": "PAQ_L.xpt",
    "physical_activity_youth": "PAQY_L.xpt",
    "smoking": "SMQ_L.xpt"
}

datasets = {}
total_files_count = len(files)
current_count = 1
# Load each dataset into a pandas DataFrame
for key, filename in files.items():
    path = data_dir / filename
    print(f"File {current_count}/{total_files_count} Loading {filename} into DataFrame...")
    datasets[key] = pd.read_sas(path, format='xport')
    current_count += 1

File 1/11 Loading ALQ_L.xpt into DataFrame...
File 2/11 Loading BMX_L.xpt into DataFrame...
File 3/11 Loading BPQ_L.xpt into DataFrame...
File 4/11 Loading DEMO_L.xpt into DataFrame...
File 5/11 Loading DIQ_L.xpt into DataFrame...
File 6/11 Loading GHB_L.xpt into DataFrame...
File 7/11 Loading GLU_L.xpt into DataFrame...
File 8/11 Loading HDL_L.xpt into DataFrame...
File 9/11 Loading PAQ_L.xpt into DataFrame...
File 10/11 Loading PAQY_L.xpt into DataFrame...
File 11/11 Loading SMQ_L.xpt into DataFrame...

In [649]:
# Read each dataset and print the first few rows to observe what the data looks like and identify any common features
datasets["alcohol"].head()

,SEQN,ALQ111,ALQ121,ALQ130,ALQ142,ALQ270,ALQ280,ALQ151,ALQ170
0,130378.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,130379.0,1.0,2.000000e+00,3.0,5.397605e-79,NaN,NaN,2.0,NaN
2,130380.0,1.0,1.000000e+01,1.0,5.397605e-79,NaN,NaN,2.0,NaN
3,130386.0,1.0,4.000000e+00,2.0,1.000000e+01,5.397605e-79,10.0,2.0,5.397605e-79
4,130387.0,1.0,5.397605e-79,NaN,NaN,NaN,NaN,2.0,NaN

In [650]:
datasets["bmi"].head()

,SEQN,BMDSTATS,BMXWT,BMIWT,BMXRECUM,BMIRECUM,BMXHEAD,BMIHEAD,BMXHT,BMIHT,BMXBMI,BMDBMIC,BMXLEG,BMILEG,BMXARML,BMIARML,BMXARMC,BMIARMC,BMXWAIST,BMIWAIST,BMXHIP,BMIHIP
0,130378.0,1.0,86.9,NaN,NaN,NaN,NaN,NaN,179.5,NaN,27.0,NaN,42.8,NaN,42.0,NaN,35.7,NaN,98.3,NaN,102.9,NaN
1,130379.0,1.0,101.8,NaN,NaN,NaN,NaN,NaN,174.2,NaN,33.5,NaN,38.5,NaN,38.7,NaN,33.7,NaN,114.7,NaN,112.4,NaN
2,130380.0,1.0,69.4,NaN,NaN,NaN,NaN,NaN,152.9,NaN,29.7,NaN,38.5,NaN,35.5,NaN,36.3,NaN,93.5,NaN,98.0,NaN
3,130381.0,1.0,34.3,NaN,NaN,NaN,NaN,NaN,120.1,NaN,23.8,4.0,NaN,NaN,25.4,NaN,23.4,NaN,70.4,NaN,NaN,NaN
4,130382.0,3.0,13.6,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN

In [651]:
datasets["blood_pressure"].head()

       SEQN  BPQ020  BPQ030  BPQ150  BPQ080  BPQ101D
0  130378.0     1.0     1.0     1.0     2.0      2.0
1  130379.0     1.0     1.0     1.0     2.0      2.0
2  130380.0     2.0     NaN     NaN     1.0      1.0
3  130384.0     2.0     NaN     NaN     2.0      2.0
4  130385.0     2.0     NaN     NaN     2.0      2.0

In [652]:
datasets["demographics"].head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,DMQMILIZ,DMDBORN4,DMDYRUSR,DMDEDUC2,DMDMARTZ,RIDEXPRG,DMDHHSIZ,DMDHRGND,DMDHRAGZ,DMDHREDZ,DMDHRMAZ,DMDHSEDZ,WTINT2YR,WTMEC2YR,SDMVSTRA,SDMVPSU,INDFMPIR
0,130378.0,12.0,2.0,1.0,43.0,NaN,5.0,6.0,2.0,NaN,2.0,2.0,6.0,5.0,1.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,50055.450807,54374.463898,173.0,2.0,5.00
1,130379.0,12.0,2.0,1.0,66.0,NaN,3.0,3.0,2.0,NaN,2.0,1.0,NaN,5.0,1.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,29087.450605,34084.721548,173.0,2.0,5.00
2,130380.0,12.0,2.0,2.0,44.0,NaN,2.0,2.0,1.0,NaN,2.0,2.0,6.0,3.0,1.0,2.0,7.0,NaN,NaN,NaN,NaN,NaN,80062.674301,81196.277992,174.0,1.0,1.41
3,130381.0,12.0,2.0,2.0,5.0,NaN,5.0,7.0,1.0,71.0,NaN,1.0,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,3.0,NaN,38807.268902,55698.607106,182.0,2.0,1.53
4,130382.0,12.0,2.0,1.0,2.0,NaN,3.0,3.0,2.0,34.0,NaN,1.0,NaN,NaN,NaN,NaN,4.0,2.0,2.0,3.0,1.0,2.0,30607.519774,36434.146346,182.0,2.0,3.60

In [653]:
datasets["diabetes"].head()

       SEQN  DIQ010  DID040  DIQ160  DIQ180  DIQ050  DID060  DIQ060U  DIQ070
0  130378.0     2.0     NaN     2.0     2.0     NaN     NaN      NaN     NaN
1  130379.0     2.0     NaN     2.0     1.0     NaN     NaN      NaN     NaN
2  130380.0     1.0    35.0     NaN     NaN     2.0     NaN      NaN     1.0
3  130381.0     2.0     NaN     NaN     NaN     NaN     NaN      NaN     NaN
4  130382.0     2.0     NaN     NaN     NaN     NaN     NaN      NaN     NaN

In [654]:
datasets["glycohemoglobin"].head()

       SEQN       WTPH2YR  LBXGH
0  130378.0  56042.129410    5.6
1  130379.0  37435.705647    5.6
2  130380.0  85328.844519    6.2
3  130386.0  44526.214135    5.1
4  130387.0  22746.296353    5.9

In [655]:
datasets["plasma_fasting_glucose"].head()

       SEQN      WTSAF2YR  LBXGLU  LBDGLUSI
0  130378.0  1.200253e+05   113.0      6.27
1  130379.0  5.397605e-79    99.0      5.50
2  130380.0  1.450908e+05   156.0      8.66
3  130386.0  8.259962e+04   100.0      5.55
4  130394.0  1.004203e+05    88.0      4.88

In [656]:
datasets["high_density_lipoprotein"].head()

       SEQN       WTPH2YR  LBDHDD  LBDHDDSI
0  130378.0  56042.129410    45.0      1.16
1  130379.0  37435.705647    60.0      1.55
2  130380.0  85328.844519    49.0      1.27
3  130386.0  44526.214135    46.0      1.19
4  130387.0  22746.296353    42.0      1.09

In [657]:
datasets["physical_activity"].head()

,SEQN,PAD790Q,PAD790U,PAD800,PAD810Q,PAD810U,PAD820,PAD680
0,130378.0,3.000000e+00,b'W',45.0,3.000000e+00,b'W',45.0,360.0
1,130379.0,4.000000e+00,b'W',45.0,3.000000e+00,b'W',45.0,480.0
2,130380.0,1.000000e+00,b'W',20.0,5.397605e-79,b'',NaN,240.0
3,130384.0,5.397605e-79,b'',NaN,5.397605e-79,b'',NaN,60.0
4,130385.0,1.000000e+00,b'D',90.0,1.000000e+00,b'W',60.0,180.0

In [658]:
datasets["physical_activity_youth"].head()

       SEQN  PAQ706  PAQ711
0  130381.0     7.0     3.0
1  130382.0     7.0     2.0
2  130383.0     7.0     2.0
3  130403.0     NaN     NaN
4  130405.0     7.0     3.0

In [659]:
datasets["smoking"].head()

,SEQN,SMQ020,SMQ040,SMD641,SMD650,SMD100MN,SMQ621,SMD630,SMAQUEX2
0,130378.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,1.0
1,130379.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,1.0
2,130380.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,130384.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,130385.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [660]:
# Merge the datasets on "SEQN" into a single DataFrame using Python reduce() and pandas merge()
from functools import reduce

df = reduce(
    lambda left, right: pd.merge(left, right, on="SEQN", how="outer"),
    datasets.values()
)

In [661]:
# Show information about the merged DataFrame
pd.set_option('display.max_rows', None)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11933 entries, 0 to 11932
Data columns (total 94 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SEQN       11933 non-null  float64
 1   ALQ111     5481 non-null   float64
 2   ALQ121     4922 non-null   float64
 3   ALQ130     4069 non-null   float64
 4   ALQ142     4082 non-null   float64
 5   ALQ270     2366 non-null   float64
 6   ALQ280     2362 non-null   float64
 7   ALQ151     4901 non-null   float64
 8   ALQ170     2358 non-null   float64
 9   BMDSTATS   8860 non-null   float64
 10  BMXWT      8754 non-null   float64
 11  BMIWT      345 non-null    float64
 12  BMXRECUM   454 non-null    float64
 13  BMIRECUM   18 non-null     float64
 14  BMXHEAD    70 non-null     float64
 15  BMIHEAD    0 non-null      float64
 16  BMXHT      8499 non-null   float64
 17  BMIHT      134 non-null    float64
 18  BMXBMI     8471 non-null   float64
 19  BMDBMIC    2492 non-null   float64
 20  BMXLEG     7335 non-null   float64
 21  BMILEG     396 non-null    float64
 22  BMXARML    8568 non-null   float64
 23  BMIARML    200 non-null    float64
 24  BMXARMC    8562 non-null   float64
 25  BMIARMC    205 non-null    float64
 26  BMXWAIST   8190 non-null   float64
 27  BMIWAIST   347 non-null    float64
 28  BMXHIP     6776 non-null   float64
 29  BMIHIP     361 non-null    float64
 30  BPQ020     8498 non-null   float64
 31  BPQ030     2968 non-null   float64
 32  BPQ150     2969 non-null   float64
 33  BPQ080     8498 non-null   float64
 34  BPQ101D    8498 non-null   float64
 35  SDDSRVYR   11933 non-null  float64
 36  RIDSTATR   11933 non-null  float64
 37  RIAGENDR   11933 non-null  float64
 38  RIDAGEYR   11933 non-null  float64
 39  RIDAGEMN   377 non-null    float64
 40  RIDRETH1   11933 non-null  float64
 41  RIDRETH3   11933 non-null  float64
 42  RIDEXMON   8860 non-null   float64
 43  RIDEXAGM   2787 non-null   float64
 44  DMQMILIZ   8301 non-null   float64
 45  DMDBORN4   11914 non-null  float64
 46  DMDYRUSR   1875 non-null   float64
 47  DMDEDUC2   7794 non-null   float64
 48  DMDMARTZ   7792 non-null   float64
 49  RIDEXPRG   1503 non-null   float64
 50  DMDHHSIZ   11933 non-null  float64
 51  DMDHRGND   4115 non-null   float64
 52  DMDHRAGZ   4124 non-null   float64
 53  DMDHREDZ   3746 non-null   float64
 54  DMDHRMAZ   4020 non-null   float64
 55  DMDHSEDZ   2127 non-null   float64
 56  WTINT2YR   11933 non-null  float64
 57  WTMEC2YR   11933 non-null  float64
 58  SDMVSTRA   11933 non-null  float64
 59  SDMVPSU    11933 non-null  float64
 60  INDFMPIR   9892 non-null   float64
 61  DIQ010     11740 non-null  float64
 62  DID040     1081 non-null   float64
 63  DIQ160     8022 non-null   float64
 64  DIQ180     8304 non-null   float64
 65  DIQ050     1081 non-null   float64
 66  DID060     343 non-null    float64
 67  DIQ060U    332 non-null    float64
 68  DIQ070     2281 non-null   float64
 69  WTPH2YR_x  7199 non-null   float64
 70  LBXGH      6715 non-null   float64
 71  WTSAF2YR   3996 non-null   float64
 72  LBXGLU     3672 non-null   float64
 73  LBDGLUSI   3672 non-null   float64
 74  WTPH2YR_y  8068 non-null   float64
 75  LBDHDD     6890 non-null   float64
 76  LBDHDDSI   6890 non-null   float64
 77  PAD790Q    8135 non-null   float64
 78  PAD790U    8153 non-null   object
 79  PAD800     6390 non-null   float64
 80  PAD810Q    8139 non-null   float64
 81  PAD810U    8153 non-null   object
 82  PAD820     3687 non-null   float64
 83  PAD680     8138 non-null   float64
 84  PAQ706     3041 non-null   float64
 85  PAQ711     3041 non-null   float64
 86  SMQ020     8135 non-null   float64
 87  SMQ040     3243 non-null   float64
 88  SMD641     273 non-null    float64
 89  SMD650     1185 non-null   float64
 90  SMD100MN   1175 non-null   float64
 91  SMQ621     772 non-null    float64
 92  SMD630     23 non-null     float64
 93  SMAQUEX2   9015 non-null   float64
dtypes: float64(92), object(2)
memory usage: 8.6+ MB

In [662]:
# Show the first 5 rows of the merged DataFrame
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

df.head()

,SEQN,ALQ111,ALQ121,ALQ130,ALQ142,ALQ270,ALQ280,ALQ151,ALQ170,BMDSTATS,BMXWT,BMIWT,BMXRECUM,BMIRECUM,BMXHEAD,BMIHEAD,BMXHT,BMIHT,BMXBMI,BMDBMIC,BMXLEG,BMILEG,BMXARML,BMIARML,BMXARMC,BMIARMC,BMXWAIST,BMIWAIST,BMXHIP,BMIHIP,BPQ020,BPQ030,BPQ150,BPQ080,BPQ101D,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,DMQMILIZ,DMDBORN4,DMDYRUSR,DMDEDUC2,DMDMARTZ,RIDEXPRG,DMDHHSIZ,DMDHRGND,DMDHRAGZ,DMDHREDZ,DMDHRMAZ,DMDHSEDZ,WTINT2YR,WTMEC2YR,SDMVSTRA,SDMVPSU,INDFMPIR,DIQ010,DID040,DIQ160,DIQ180,DIQ050,DID060,DIQ060U,DIQ070,WTPH2YR_x,LBXGH,WTSAF2YR,LBXGLU,LBDGLUSI,WTPH2YR_y,LBDHDD,LBDHDDSI,PAD790Q,PAD790U,PAD800,PAD810Q,PAD810U,PAD820,PAD680,PAQ706,PAQ711,SMQ020,SMQ040,SMD641,SMD650,SMD100MN,SMQ621,SMD630,SMAQUEX2
0,130378.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,86.9,NaN,NaN,NaN,NaN,NaN,179.5,NaN,27.0,NaN,42.8,NaN,42.0,NaN,35.7,NaN,98.3,NaN,102.9,NaN,1.0,1.0,1.0,2.0,2.0,12.0,2.0,1.0,43.0,NaN,5.0,6.0,2.0,NaN,2.0,2.0,6.0,5.0,1.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,50055.450807,54374.463898,173.0,2.0,5.00,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,56042.129410,5.6,1.200253e+05,113.0,6.27,56042.129410,45.0,1.16,3.0,b'W',45.0,3.000000e+00,b'W',45.0,360.0,NaN,NaN,1.0,3.0,NaN,NaN,NaN,NaN,NaN,1.0
1,130379.0,1.0,2.0,3.0,5.397605e-79,NaN,NaN,2.0,NaN,1.0,101.8,NaN,NaN,NaN,NaN,NaN,174.2,NaN,33.5,NaN,38.5,NaN,38.7,NaN,33.7,NaN,114.7,NaN,112.4,NaN,1.0,1.0,1.0,2.0,2.0,12.0,2.0,1.0,66.0,NaN,3.0,3.0,2.0,NaN,2.0,1.0,NaN,5.0,1.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,29087.450605,34084.721548,173.0,2.0,5.00,2.0,NaN,2.0,1.0,NaN,NaN,NaN,NaN,37435.705647,5.6,5.397605e-79,99.0,5.50,37435.705647,60.0,1.55,4.0,b'W',45.0,3.000000e+00,b'W',45.0,480.0,NaN,NaN,1.0,3.0,NaN,NaN,NaN,NaN,NaN,1.0
2,130380.0,1.0,10.0,1.0,5.397605e-79,NaN,NaN,2.0,NaN,1.0,69.4,NaN,NaN,NaN,NaN,NaN,152.9,NaN,29.7,NaN,38.5,NaN,35.5,NaN,36.3,NaN,93.5,NaN,98.0,NaN,2.0,NaN,NaN,1.0,1.0,12.0,2.0,2.0,44.0,NaN,2.0,2.0,1.0,NaN,2.0,2.0,6.0,3.0,1.0,2.0,7.0,NaN,NaN,NaN,NaN,NaN,80062.674301,81196.277992,174.0,1.0,1.41,1.0,35.0,NaN,NaN,2.0,NaN,NaN,1.0,85328.844519,6.2,1.450908e+05,156.0,8.66,85328.844519,49.0,1.27,1.0,b'W',20.0,5.397605e-79,b'',NaN,240.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,130381.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,34.3,NaN,NaN,NaN,NaN,NaN,120.1,NaN,23.8,4.0,NaN,NaN,25.4,NaN,23.4,NaN,70.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,2.0,2.0,5.0,NaN,5.0,7.0,1.0,71.0,NaN,1.0,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,3.0,NaN,38807.268902,55698.607106,182.0,2.0,1.53,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,130382.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,13.6,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,2.0,1.0,2.0,NaN,3.0,3.0,2.0,34.0,NaN,1.0,NaN,NaN,NaN,NaN,4.0,2.0,2.0,3.0,1.0,2.0,30607.519774,36434.146346,182.0,2.0,3.60,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [663]:
df.shape

(11933, 94)

In [664]:
# Selecting relevant columns for analysis
keep_cols = ["SEQN", "BMXBMI", "BPQ020", "RIAGENDR", "RIDAGEYR", "DIQ010", "LBXGH", "LBDGLUSI", "LBDHDDSI", "SMQ020", "SMQ040"]

df = df[keep_cols]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11933 entries, 0 to 11932
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      11933 non-null  float64
 1   BMXBMI    8471 non-null   float64
 2   BPQ020    8498 non-null   float64
 3   RIAGENDR  11933 non-null  float64
 4   RIDAGEYR  11933 non-null  float64
 5   DIQ010    11740 non-null  float64
 6   LBXGH     6715 non-null   float64
 7   LBDGLUSI  3672 non-null   float64
 8   LBDHDDSI  6890 non-null   float64
 9   SMQ020    8135 non-null   float64
 10  SMQ040    3243 non-null   float64
dtypes: float64(11)
memory usage: 1.0 MB

In [665]:
df.isnull().sum()

SEQN           0
BMXBMI      3462
BPQ020      3435
RIAGENDR       0
RIDAGEYR       0
DIQ010       193
LBXGH       5218
LBDGLUSI    8261
LBDHDDSI    5043
SMQ020      3798
SMQ040      8690
dtype: int64

In [666]:
# Value counts for the "SMQ020" column (smoking status)
df["SMQ020"].value_counts()

SMQ020
2.0    4878
1.0    3243
9.0       7
7.0       7
Name: count, dtype: int64

In [667]:
# Verify that all rows with SMQ020 == 2.0 had missing values, hence no SMQ020 = 2.0 present in the resulting DataFrame
sum(df[df["SMQ020"] == 2.0].isnull().sum(axis=1).value_counts())

4878

In [668]:
# Remove rows with missing or unwanted values
df = df.dropna()

In [669]:
df = df[(df["BPQ020"] != 9.0)]
df = df[(df["RIDAGEYR"] >= 18.0)]

In [670]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1209 entries, 0 to 11925
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      1209 non-null   float64
 1   BMXBMI    1209 non-null   float64
 2   BPQ020    1209 non-null   float64
 3   RIAGENDR  1209 non-null   float64
 4   RIDAGEYR  1209 non-null   float64
 5   DIQ010    1209 non-null   float64
 6   LBXGH     1209 non-null   float64
 7   LBDGLUSI  1209 non-null   float64
 8   LBDHDDSI  1209 non-null   float64
 9   SMQ020    1209 non-null   float64
 10  SMQ040    1209 non-null   float64
dtypes: float64(11)
memory usage: 113.3 KB

In [671]:
# Define a function to display unique values for each column in the DataFrame
def display_unique_valeus(df):
    unique_values = {}
    for col in df.columns:
        unique_values[col] = df[col].unique().tolist()
    return unique_values

In [672]:
# Display unique values for each column in the DataFrame and their counts
unique_col_values = display_unique_valeus(df)
for col, vals in unique_col_values.items():
    print(f"{col} ({len(vals)}): {vals}")

SEQN (1209): [130378.0, 130379.0, 130386.0, 130396.0, 130408.0, 130437.0, 130457.0, 130465.0, 130475.0, 130478.0, 130489.0, 130495.0, 130522.0, 130545.0, 130558.0, 130576.0, 130579.0, 130599.0, 130603.0, 130607.0, 130619.0, 130627.0, 130628.0, 130662.0, 130663.0, 130668.0, 130683.0, 130687.0, 130703.0, 130761.0, 130768.0, 130771.0, 130781.0, 130782.0, 130791.0, 130796.0, 130797.0, 130801.0, 130807.0, 130832.0, 130834.0, 130836.0, 130843.0, 130847.0, 130861.0, 130864.0, 130868.0, 130884.0, 130893.0, 130904.0, 130910.0, 130912.0, 130924.0, 130930.0, 130947.0, 130956.0, 130961.0, 130974.0, 130978.0, 130995.0, 131034.0, 131046.0, 131051.0, 131065.0, 131077.0, 131083.0, 131095.0, 131099.0, 131108.0, 131129.0, 131131.0, 131177.0, 131183.0, 131187.0, 131194.0, 131195.0, 131202.0, 131205.0, 131211.0, 131225.0, 131241.0, 131244.0, 131245.0, 131249.0, 131251.0, 131258.0, 131284.0, 131291.0, 131301.0, 131302.0, 131331.0, 131333.0, 131340.0, 131341.0, 131350.0, 131351.0, 131352.0, 131397.0, 131414.0, 131419.0, 131427.0, 131450.0, 131476.0, 131491.0, 131495.0, 131501.0, 131520.0, 131528.0, 131540.0, 131551.0, 131565.0, 131569.0, 131584.0, 131592.0, 131597.0, 131600.0, 131610.0, 131617.0, 131629.0, 131630.0, 131638.0, 131648.0, 131672.0, 131701.0, 131707.0, 131711.0, 131729.0, 131733.0, 131738.0, 131739.0, 131745.0, 131759.0, 131769.0, 131789.0, 131790.0, 131796.0, 131799.0, 131805.0, 131808.0, 131822.0, 131824.0, 131831.0, 131841.0, 131849.0, 131862.0, 131876.0, 131892.0, 131903.0, 131913.0, 131922.0, 131936.0, 131938.0, 131951.0, 131959.0, 131967.0, 131991.0, 131997.0, 132001.0, 132075.0, 132092.0, 132107.0, 132118.0, 132124.0, 132125.0, 132126.0, 132132.0, 132134.0, 132147.0, 132150.0, 132186.0, 132189.0, 132198.0, 132201.0, 132231.0, 132235.0, 132239.0, 132251.0, 132271.0, 132288.0, 132289.0, 132296.0, 132297.0, 132310.0, 132311.0, 132315.0, 132342.0, 132354.0, 132358.0, 132378.0, 132380.0, 132391.0, 132398.0, 132417.0, 132419.0, 132425.0, 132438.0, 132439.0, 132445.0, 132472.0, 132477.0, 132481.0, 132491.0, 132505.0, 132518.0, 132523.0, 132524.0, 132540.0, 132548.0, 132549.0, 132554.0, 132558.0, 132566.0, 132567.0, 132571.0, 132585.0, 132610.0, 132625.0, 132639.0, 132655.0, 132661.0, 132666.0, 132672.0, 132692.0, 132696.0, 132699.0, 132721.0, 132730.0, 132740.0, 132741.0, 132755.0, 132756.0, 132762.0, 132770.0, 132771.0, 132793.0, 132814.0, 132815.0, 132817.0, 132818.0, 132820.0, 132827.0, 132832.0, 132851.0, 132868.0, 132870.0, 132873.0, 132877.0, 132885.0, 132895.0, 132924.0, 132927.0, 132928.0, 132929.0, 132932.0, 132937.0, 132938.0, 132941.0, 132942.0, 132956.0, 132959.0, 132994.0, 132996.0, 133010.0, 133042.0, 133078.0, 133080.0, 133098.0, 133101.0, 133109.0, 133130.0, 133134.0, 133135.0, 133144.0, 133156.0, 133169.0, 133177.0, 133179.0, 133183.0, 133188.0, 133193.0, 133209.0, 133215.0, 133218.0, 133222.0, 133233.0, 133249.0, 133265.0, 133270.0, 133278.0, 133287.0, 133291.0, 133293.0, 133318.0, 133320.0, 133324.0, 133325.0, 133334.0, 133357.0, 133388.0, 133389.0, 133399.0, 133414.0, 133425.0, 133453.0, 133461.0, 133472.0, 133487.0, 133489.0, 133496.0, 133511.0, 133513.0, 133524.0, 133529.0, 133533.0, 133536.0, 133547.0, 133548.0, 133550.0, 133558.0, 133560.0, 133566.0, 133575.0, 133576.0, 133582.0, 133583.0, 133597.0, 133598.0, 133603.0, 133615.0, 133628.0, 133631.0, 133637.0, 133664.0, 133676.0, 133684.0, 133686.0, 133688.0, 133690.0, 133694.0, 133702.0, 133707.0, 133713.0, 133731.0, 133733.0, 133766.0, 133780.0, 133791.0, 133802.0, 133811.0, 133821.0, 133827.0, 133831.0, 133838.0, 133846.0, 133858.0, 133861.0, 133862.0, 133865.0, 133907.0, 133933.0, 133946.0, 133957.0, 133970.0, 133976.0, 134010.0, 134012.0, 134013.0, 134021.0, 134044.0, 134047.0, 134055.0, 134056.0, 134075.0, 134080.0, 134090.0, 134093.0, 134096.0, 134099.0, 134109.0, 134114.0, 134135.0, 134148.0, 134154.0, 134166.0, 134181.0, 134182.0, 134193.0, 134204.0, 134206.0, 134210.0, 134221.0, 134227.0, 134237.0, 134309.0, 134330.0, 134332.0, 134341.0, 134353.0, 134373.0, 134382.0, 134388.0, 134403.0, 134406.0, 134411.0, 134431.0, 134457.0, 134470.0, 134472.0, 134478.0, 134482.0, 134497.0, 134502.0, 134516.0, 134533.0, 134537.0, 134545.0, 134551.0, 134562.0, 134563.0, 134583.0, 134584.0, 134598.0, 134620.0, 134624.0, 134630.0, 134633.0, 134656.0, 134672.0, 134677.0, 134717.0, 134727.0, 134788.0, 134804.0, 134806.0, 134824.0, 134834.0, 134851.0, 134856.0, 134857.0, 134858.0, 134874.0, 134897.0, 134908.0, 134918.0, 134929.0, 134941.0, 134955.0, 134965.0, 134971.0, 134978.0, 134980.0, 134988.0, 134990.0, 134992.0, 135013.0, 135016.0, 135021.0, 135022.0, 135023.0, 135026.0, 135048.0, 135060.0, 135092.0, 135094.0, 135098.0, 135121.0, 135126.0, 135129.0, 135130.0, 135132.0, 135144.0, 135152.0, 135155.0, 135158.0, 135172.0, 135173.0, 135176.0, 135199.0, 135220.0, 135239.0, 135241.0, 135292.0, 135293.0, 135302.0, 135316.0, 135321.0, 135324.0, 135336.0, 135339.0, 135344.0, 135358.0, 135391.0, 135396.0, 135397.0, 135405.0, 135406.0, 135427.0, 135446.0, 135467.0, 135475.0, 135477.0, 135485.0, 135499.0, 135504.0, 135517.0, 135528.0, 135536.0, 135541.0, 135545.0, 135561.0, 135565.0, 135570.0, 135588.0, 135589.0, 135610.0, 135615.0, 135641.0, 135650.0, 135661.0, 135665.0, 135682.0, 135691.0, 135709.0, 135715.0, 135716.0, 135719.0, 135723.0, 135738.0, 135742.0, 135776.0, 135783.0, 135797.0, 135804.0, 135807.0, 135834.0, 135858.0, 135859.0, 135867.0, 135873.0, 135881.0, 135891.0, 135914.0, 135927.0, 135957.0, 135968.0, 135977.0, 135982.0, 136002.0, 136005.0, 136012.0, 136025.0, 136039.0, 136040.0, 136047.0, 136052.0, 136070.0, 136072.0, 136073.0, 136075.0, 136089.0, 136097.0, 136107.0, 136119.0, 136127.0, 136136.0, 136204.0, 136205.0, 136211.0, 136232.0, 136233.0, 136243.0, 136252.0, 136256.0, 136260.0, 136265.0, 136276.0, 136278.0, 136285.0, 136320.0, 136321.0, 136332.0, 136333.0, 136383.0, 136385.0, 136397.0, 136398.0, 136408.0, 136429.0, 136437.0, 136444.0, 136448.0, 136478.0, 136489.0, 136490.0, 136492.0, 136539.0, 136541.0, 136553.0, 136556.0, 136562.0, 136572.0, 136577.0, 136589.0, 136596.0, 136603.0, 136607.0, 136634.0, 136647.0, 136650.0, 136675.0, 136691.0, 136723.0, 136730.0, 136735.0, 136740.0, 136748.0, 136754.0, 136757.0, 136776.0, 136785.0, 136809.0, 136822.0, 136827.0, 136828.0, 136837.0, 136838.0, 136849.0, 136854.0, 136887.0, 136891.0, 136908.0, 136910.0, 136917.0, 136925.0, 136928.0, 136931.0, 136942.0, 136943.0, 136946.0, 136950.0, 136953.0, 136956.0, 136987.0, 136994.0, 136997.0, 137006.0, 137007.0, 137008.0, 137017.0, 137026.0, 137031.0, 137037.0, 137039.0, 137043.0, 137046.0, 137052.0, 137055.0, 137065.0, 137067.0, 137100.0, 137106.0, 137113.0, 137125.0, 137126.0, 137139.0, 137164.0, 137195.0, 137209.0, 137216.0, 137220.0, 137239.0, 137248.0, 137249.0, 137251.0, 137255.0, 137269.0, 137273.0, 137281.0, 137284.0, 137339.0, 137351.0, 137353.0, 137354.0, 137387.0, 137391.0, 137394.0, 137403.0, 137415.0, 137417.0, 137423.0, 137436.0, 137444.0, 137477.0, 137478.0, 137495.0, 137500.0, 137508.0, 137510.0, 137511.0, 137515.0, 137517.0, 137520.0, 137526.0, 137528.0, 137530.0, 137531.0, 137532.0, 137534.0, 137544.0, 137547.0, 137552.0, 137564.0, 137569.0, 137581.0, 137623.0, 137625.0, 137626.0, 137634.0, 137649.0, 137651.0, 137652.0, 137655.0, 137664.0, 137676.0, 137686.0, 137706.0, 137711.0, 137716.0, 137756.0, 137760.0, 137771.0, 137793.0, 137798.0, 137801.0, 137808.0, 137814.0, 137822.0, 137832.0, 137844.0, 137892.0, 137894.0, 137936.0, 137937.0, 137942.0, 137963.0, 137972.0, 137976.0, 137979.0, 138000.0, 138022.0, 138034.0, 138044.0, 138046.0, 138049.0, 138070.0, 138072.0, 138078.0, 138081.0, 138086.0, 138090.0, 138097.0, 138103.0, 138117.0, 138136.0, 138144.0, 138150.0, 138154.0, 138177.0, 138184.0, 138191.0, 138219.0, 138228.0, 138232.0, 138236.0, 138240.0, 138247.0, 138254.0, 138255.0, 138263.0, 138268.0, 138297.0, 138320.0, 138328.0, 138350.0, 138368.0, 138374.0, 138378.0, 138392.0, 138401.0, 138408.0, 138423.0, 138424.0, 138443.0, 138447.0, 138458.0, 138467.0, 138501.0, 138502.0, 138532.0, 138541.0, 138542.0, 138550.0, 138555.0, 138563.0, 138567.0, 138588.0, 138601.0, 138609.0, 138613.0, 138639.0, 138666.0, 138671.0, 138681.0, 138683.0, 138694.0, 138711.0, 138719.0, 138720.0, 138728.0, 138732.0, 138739.0, 138743.0, 138748.0, 138749.0, 138761.0, 138765.0, 138785.0, 138800.0, 138802.0, 138804.0, 138810.0, 138812.0, 138824.0, 138839.0, 138856.0, 138871.0, 138873.0, 138879.0, 138888.0, 138896.0, 138960.0, 138972.0, 139001.0, 139013.0, 139026.0, 139029.0, 139042.0, 139046.0, 139047.0, 139048.0, 139050.0, 139067.0, 139079.0, 139117.0, 139118.0, 139119.0, 139130.0, 139139.0, 139148.0, 139150.0, 139161.0, 139172.0, 139174.0, 139180.0, 139182.0, 139186.0, 139193.0, 139198.0, 139200.0, 139212.0, 139229.0, 139234.0, 139236.0, 139246.0, 139249.0, 139259.0, 139260.0, 139265.0, 139268.0, 139301.0, 139304.0, 139308.0, 139309.0, 139312.0, 139326.0, 139336.0, 139337.0, 139351.0, 139362.0, 139366.0, 139368.0, 139370.0, 139373.0, 139376.0, 139383.0, 139388.0, 139407.0, 139420.0, 139423.0, 139428.0, 139437.0, 139438.0, 139446.0, 139462.0, 139470.0, 139473.0, 139479.0, 139483.0, 139485.0, 139489.0, 139494.0, 139514.0, 139515.0, 139522.0, 139559.0, 139568.0, 139579.0, 139584.0, 139585.0, 139593.0, 139596.0, 139605.0, 139613.0, 139614.0, 139621.0, 139623.0, 139657.0, 139665.0, 139686.0, 139690.0, 139692.0, 139695.0, 139705.0, 139706.0, 139728.0, 139730.0, 139737.0, 139738.0, 139745.0, 139764.0, 139780.0, 139787.0, 139790.0, 139793.0, 139796.0, 139801.0, 139815.0, 139819.0, 139825.0, 139829.0, 139833.0, 139840.0, 139895.0, 139900.0, 139907.0, 139910.0, 139935.0, 139939.0, 139944.0, 139946.0, 139950.0, 139968.0, 139972.0, 139978.0, 139996.0, 140000.0, 140001.0, 140034.0, 140040.0, 140041.0, 140049.0, 140053.0, 140081.0, 140096.0, 140118.0, 140127.0, 140132.0, 140143.0, 140152.0, 140161.0, 140169.0, 140173.0, 140181.0, 140189.0, 140217.0, 140226.0, 140245.0, 140280.0, 140283.0, 140285.0, 140286.0, 140291.0, 140302.0, 140316.0, 140418.0, 140421.0, 140430.0, 140437.0, 140459.0, 140474.0, 140478.0, 140483.0, 140485.0, 140493.0, 140495.0, 140511.0, 140514.0, 140521.0, 140531.0, 140539.0, 140550.0, 140559.0, 140563.0, 140564.0, 140566.0, 140576.0, 140580.0, 140590.0, 140621.0, 140626.0, 140627.0, 140635.0, 140641.0, 140645.0, 140646.0, 140658.0, 140666.0, 140667.0, 140683.0, 140697.0, 140699.0, 140703.0, 140708.0, 140709.0, 140711.0, 140714.0, 140720.0, 140735.0, 140742.0, 140756.0, 140758.0, 140766.0, 140777.0, 140788.0, 140794.0, 140801.0, 140821.0, 140831.0, 140867.0, 140879.0, 140904.0, 140907.0, 140912.0, 140919.0, 140931.0, 140942.0, 140945.0, 140946.0, 140968.0, 140975.0, 140986.0, 140987.0, 141003.0, 141008.0, 141015.0, 141032.0, 141033.0, 141040.0, 141047.0, 141066.0, 141069.0, 141071.0, 141079.0, 141085.0, 141088.0, 141101.0, 141114.0, 141116.0, 141134.0, 141135.0, 141148.0, 141159.0, 141167.0, 141174.0, 141177.0, 141180.0, 141184.0, 141187.0, 141210.0, 141213.0, 141218.0, 141236.0, 141238.0, 141264.0, 141285.0, 141294.0, 141295.0, 141297.0, 141298.0, 141301.0, 141306.0, 141312.0, 141335.0, 141337.0, 141349.0, 141357.0, 141372.0, 141379.0, 141381.0, 141386.0, 141387.0, 141403.0, 141405.0, 141408.0, 141426.0, 141428.0, 141444.0, 141446.0, 141448.0, 141450.0, 141459.0, 141479.0, 141485.0, 141495.0, 141496.0, 141497.0, 141502.0, 141507.0, 141510.0, 141514.0, 141549.0, 141564.0, 141567.0, 141568.0, 141576.0, 141578.0, 141591.0, 141628.0, 141631.0, 141636.0, 141640.0, 141644.0, 141645.0, 141648.0, 141672.0, 141678.0, 141684.0, 141694.0, 141696.0, 141710.0, 141717.0, 141728.0, 141731.0, 141734.0, 141736.0, 141737.0, 141769.0, 141781.0, 141843.0, 141844.0, 141869.0, 141875.0, 141903.0, 141921.0, 141922.0, 141957.0, 141966.0, 141999.0, 142016.0, 142021.0, 142036.0, 142047.0, 142051.0, 142060.0, 142063.0, 142067.0, 142069.0, 142078.0, 142079.0, 142095.0, 142105.0, 142107.0, 142115.0, 142133.0, 142145.0, 142148.0, 142155.0, 142157.0, 142162.0, 142191.0, 142193.0, 142198.0, 142200.0, 142206.0, 142212.0, 142213.0, 142214.0, 142218.0, 142232.0, 142241.0, 142242.0, 142243.0, 142255.0, 142259.0, 142278.0, 142299.0, 142300.0, 142301.0, 142303.0]
BMXBMI (282): [27.0, 33.5, 30.2, 27.3, 21.4, 37.0, 23.0, 37.9, 33.2, 16.7, 29.0, 32.2, 28.3, 25.2, 28.2, 32.1, 27.1, 50.2, 29.7, 38.4, 26.4, 31.9, 19.7, 30.9, 25.9, 35.0, 24.8, 27.4, 39.2, 21.9, 22.9, 20.9, 32.3, 36.8, 26.5, 29.1, 20.7, 32.0, 28.7, 35.2, 21.5, 33.7, 31.4, 32.4, 24.7, 36.6, 34.2, 25.0, 31.3, 27.5, 17.9, 28.9, 33.0, 40.8, 28.6, 23.8, 24.2, 28.1, 40.7, 26.1, 42.4, 20.2, 25.3, 31.1, 37.3, 32.6, 20.5, 28.4, 29.5, 36.1, 40.0, 19.4, 23.2, 26.2, 27.7, 23.7, 37.2, 26.7, 40.6, 29.4, 27.2, 26.6, 24.3, 36.0, 29.9, 33.1, 26.0, 50.1, 28.8, 32.7, 29.3, 28.5, 25.6, 22.7, 20.6, 31.8, 29.2, 31.7, 24.4, 42.1, 20.0, 23.4, 18.6, 25.8, 28.0, 26.3, 43.9, 21.3, 25.7, 41.9, 35.5, 31.0, 36.7, 49.5, 30.1, 32.5, 22.5, 23.9, 34.8, 31.2, 24.6, 42.9, 26.9, 37.5, 25.5, 30.8, 38.8, 30.3, 38.0, 22.4, 45.7, 33.6, 24.1, 30.5, 39.4, 27.8, 38.1, 22.0, 34.0, 41.2, 35.9, 35.6, 46.7, 45.6, 20.4, 33.9, 23.1, 42.5, 40.5, 19.1, 38.6, 21.0, 37.4, 23.5, 21.2, 30.0, 34.9, 54.2, 24.5, 25.1, 30.7, 40.9, 39.7, 30.4, 22.8, 19.9, 33.3, 34.3, 23.6, 52.5, 35.3, 29.6, 47.5, 26.8, 18.0, 27.6, 31.5, 39.6, 34.7, 32.9, 34.5, 19.2, 19.0, 18.9, 22.2, 17.0, 17.7, 38.5, 41.1, 18.7, 36.5, 39.9, 24.9, 19.3, 32.8, 25.4, 29.8, 31.6, 42.6, 27.9, 47.9, 45.9, 34.1, 47.1, 38.2, 19.5, 37.6, 36.4, 39.3, 33.8, 22.6, 64.7, 34.4, 41.6, 46.2, 51.7, 38.3, 41.4, 21.6, 58.4, 59.2, 19.6, 24.0, 50.4, 57.0, 34.6, 36.9, 45.8, 22.3, 43.1, 37.8, 35.1, 23.3, 45.0, 19.8, 35.8, 44.6, 50.3, 40.1, 46.1, 53.1, 18.3, 17.8, 22.1, 20.1, 36.3, 48.8, 37.7, 18.5, 16.4, 42.0, 21.7, 35.4, 49.0, 20.3, 35.7, 45.4, 49.3, 40.3, 17.3, 49.8, 44.9, 36.2, 30.6, 51.6, 18.1, 37.1, 40.2, 41.8, 42.2, 44.4, 43.7, 46.9, 60.5, 33.4, 62.9, 48.2, 43.8, 39.0, 43.4, 21.8, 43.0]
BPQ020 (2): [1.0, 2.0]
RIAGENDR (2): [1.0, 2.0]
RIDAGEYR (63): [43.0, 66.0, 34.0, 56.0, 80.0, 38.0, 77.0, 55.0, 69.0, 57.0, 60.0, 58.0, 32.0, 50.0, 54.0, 75.0, 36.0, 27.0, 73.0, 22.0, 52.0, 76.0, 62.0, 51.0, 71.0, 47.0, 63.0, 30.0, 61.0, 46.0, 74.0, 78.0, 23.0, 64.0, 28.0, 41.0, 29.0, 33.0, 31.0, 65.0, 68.0, 79.0, 59.0, 49.0, 48.0, 72.0, 35.0, 70.0, 21.0, 67.0, 39.0, 44.0, 53.0, 42.0, 19.0, 24.0, 45.0, 26.0, 40.0, 37.0, 25.0, 18.0, 20.0]
DIQ010 (3): [2.0, 1.0, 3.0]
LBXGH (74): [5.6, 5.1, 5.0, 4.6, 5.5, 4.9, 5.2, 6.8, 5.8, 6.6, 6.2, 5.7, 6.0, 6.1, 5.9, 6.5, 4.1, 6.4, 5.4, 6.9, 9.2, 5.3, 4.8, 6.3, 7.1, 7.9, 7.4, 8.1, 7.0, 8.7, 9.5, 13.1, 8.0, 7.6, 6.7, 8.9, 4.7, 9.8, 7.7, 10.7, 11.1, 10.8, 9.9, 9.1, 3.6, 4.4, 4.5, 9.3, 3.8, 10.3, 12.0, 7.3, 13.3, 7.2, 9.7, 11.3, 4.2, 7.8, 12.4, 8.3, 8.4, 7.5, 12.8, 9.4, 8.2, 8.5, 9.6, 10.1, 3.2, 11.2, 8.6, 10.9, 4.3, 13.6]
LBDGLUSI (148): [6.27, 5.5, 5.55, 5.77, 4.94, 5.27, 6.99, 9.27, 4.66, 9.05, 5.88, 6.0, 5.66, 6.05, 5.33, 9.71, 5.22, 4.22, 6.33, 6.38, 5.16, 5.94, 6.16, 5.11, 5.72, 5.05, 4.0, 6.66, 4.88, 6.22, 10.9, 4.83, 5.61, 7.11, 5.44, 6.49, 5.0, 6.77, 5.83, 6.55, 7.55, 6.11, 7.94, 8.49, 7.27, 8.38, 6.83, 4.72, 14.0, 6.44, 9.33, 8.88, 7.77, 6.94, 21.4, 11.0, 7.22, 7.99, 6.72, 5.38, 12.2, 18.9, 4.77, 8.33, 10.4, 8.05, 7.05, 23.1, 9.49, 3.55, 4.55, 17.8, 4.5, 13.0, 14.8, 16.3, 8.72, 4.39, 7.38, 16.5, 7.6, 3.83, 8.16, 4.61, 7.33, 14.6, 10.5, 14.1, 8.94, 7.88, 9.66, 20.3, 8.27, 16.9, 14.7, 8.6, 11.4, 6.88, 4.44, 11.2, 9.6, 8.83, 7.16, 9.44, 7.72, 8.44, 13.8, 6.61, 12.6, 17.1, 11.1, 9.55, 4.16, 4.05, 7.83, 14.5, 9.21, 11.7, 8.66, 4.11, 7.49, 18.5, 7.66, 8.77, 4.27, 8.99, 3.28, 12.8, 9.16, 8.55, 12.5, 9.1, 15.6, 15.4, 10.6, 19.4, 10.3, 7.44, 17.9, 31.1, 11.9, 9.94, 18.3, 11.8, 14.3, 12.4, 8.1, 11.3]
LBDHDDSI (86): [1.16, 1.55, 1.19, 1.76, 2.12, 0.96, 1.71, 1.03, 0.98, 1.94, 1.37, 2.69, 0.83, 0.62, 1.22, 1.06, 1.32, 1.11, 0.91, 1.4, 1.24, 1.27, 2.17, 2.25, 1.6, 1.5, 1.29, 1.01, 2.02, 1.84, 1.58, 1.89, 0.59, 1.34, 1.53, 1.47, 1.14, 1.68, 1.99, 1.45, 1.97, 0.93, 2.4, 1.42, 2.33, 0.85, 1.63, 1.09, 0.88, 1.66, 2.77, 1.78, 1.86, 2.9, 1.73, 1.81, 2.22, 2.2, 2.51, 3.18, 2.38, 2.84, 2.87, 1.91, 2.79, 0.72, 0.78, 2.04, 0.75, 2.07, 2.46, 2.15, 2.56, 0.8, 2.35, 0.7, 0.67, 2.09, 2.59, 2.53, 2.48, 2.28, 2.72, 2.74, 3.39, 3.05]
SMQ020 (1): [1.0]
SMQ040 (3): [3.0, 1.0, 2.0]

In [673]:
# Rename columns for better readability
df = df.rename(columns={
    "BMXBMI": "bmi",
    "BPQ020": "high_blood_pressure",
    "RIAGENDR": "gender",
    "RIDAGEYR": "age",
    "DIQ010": "diabetes",
    "LBXGH": "glycohemoglobin_percentage",
    "LBDGLUSI": "plasma_fasting_glucose_mmol_L",
    "LBDHDDSI": "high_density_lipoprotein_mmol_L",
    "SMQ020": "smoked_at_least_100_cigs_in_lifetime",
    "SMQ040": "current_smoking_frequency"
})

In [674]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1209 entries, 0 to 11925
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   SEQN                                  1209 non-null   float64
 1   bmi                                   1209 non-null   float64
 2   high_blood_pressure                   1209 non-null   float64
 3   gender                                1209 non-null   float64
 4   age                                   1209 non-null   float64
 5   diabetes                              1209 non-null   float64
 6   glycohemoglobin_percentage            1209 non-null   float64
 7   plasma_fasting_glucose_mmol_L         1209 non-null   float64
 8   high_density_lipoprotein_mmol_L       1209 non-null   float64
 9   smoked_at_least_100_cigs_in_lifetime  1209 non-null   float64
 10  current_smoking_frequency             1209 non-null   float64
dtypes: float64(11)
memory usage: 113.3 KB

In [675]:
# Standardise values to 0 = No, 1 = Yes
df["high_blood_pressure"] = df["high_blood_pressure"].replace(2.0, 0.0)

In [676]:
# Map categorical values to more readable strings to prepare for one-hot encoding
df["diabetes"] = df["diabetes"].map({1.0: "yes", 2.0: "no", 3.0: "borderline"})
df["current_smoking_frequency"] = df["current_smoking_frequency"].map({1.0: "every_day", 2.0: "some_days", 3.0: "none"})

In [677]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse_output=False, dtype=int)
one_hot_encoded = encoder.fit_transform(df[["diabetes", "current_smoking_frequency"]])

encoded_df = pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(["diabetes", "current_smoking_frequency"]))

# Concatenate the original DataFrame with the one-hot encoded DataFrame
df = pd.concat([df, encoded_df], axis=1)

# Drop the original categorical columns after encoding
df = df.drop(columns=["diabetes", "current_smoking_frequency"], axis=1)

In [678]:
# curr_smoking_freq_dummies = pd.get_dummies(df["current_smoking_frequency"], dtype=int, prefix="current_smoking_frequency")
# df = pd.concat([df, curr_smoking_freq_dummies], axis=1)
# df = df.drop(columns=["current_smoking_frequency"], axis=1)

In [679]:
# diabetes_dummies = pd.get_dummies(df["diabetes"], dtype=int, prefix="diabetes")
# df = pd.concat([df, diabetes_dummies], axis=1)
# df = df.drop(columns=["diabetes"], axis=1)

In [680]:
df.head()

,SEQN,bmi,high_blood_pressure,gender,age,glycohemoglobin_percentage,plasma_fasting_glucose_mmol_L,high_density_lipoprotein_mmol_L,smoked_at_least_100_cigs_in_lifetime,diabetes_borderline,diabetes_no,diabetes_yes,current_smoking_frequency_every_day,current_smoking_frequency_none,current_smoking_frequency_some_days
0,130378.0,27.0,1.0,1.0,43.0,5.6,6.27,1.16,1.0,0.0,1.0,0.0,0.0,1.0,0.0
1,130379.0,33.5,1.0,1.0,66.0,5.6,5.50,1.55,1.0,0.0,1.0,0.0,0.0,1.0,0.0
8,130386.0,30.2,0.0,1.0,34.0,5.1,5.55,1.19,1.0,0.0,0.0,1.0,0.0,1.0,0.0
18,130396.0,27.3,0.0,2.0,56.0,5.0,5.77,1.76,1.0,1.0,0.0,0.0,0.0,1.0,0.0
30,130408.0,21.4,1.0,1.0,80.0,4.6,4.94,2.12,1.0,0.0,1.0,0.0,0.0,1.0,0.0